body{
    margin:0;
    background:darkgray;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}

#verticalButtons{
    display:flex;
    flex-direction:column;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor:pointer;
}
button:hover{
    background:blue;
}

#miniMapCanvas{
    background:black;
}
#networkCanvas{
    background:black;
}
#carCanvas{
    background:#2a5;
}
#cameraCanvas{
    background-image: linear-gradient(#8cf, white 70%);
}

.miniMap{
   position:absolute;
   right:20px;
   bottom:20px;
   border-radius:50%;
   opacity:50%;
}

#statistics{
   background:black;
   position:absolute;
   right:20px;
   top:20px;
   border-radius:10px;
   opacity:50%;
   overflow:hidden;
}

.stat{
   font-size:xx-large;
   font-family:Arial;
   padding:10px;
}

#counter{
   position:absolute;
   left:50%;
   top:50%;
   transform:translate(-50%,-50%);
   font-size:40vmin;
   font-family:Arial;
   opacity:50%;
   color:white;
}

#ironManCanvas{
   position:absolute;
   top:20px;
   left:20px;
   width:300px;
   border-radius:10px;
   opacity:50%;
}